<div th:fragment="categories" xmlns:th="http://www.w3.org/1999/xhtml" class="categories">
        <a href="" class="category">
            <img src="images/wine-bottle.png" alt="">
            <span>Wine</spab>
        </a>
        <a href="" class="category">
            <img src="images/kahlua.png" alt="">
            <span>liquor</span>
        </a>
        <a href="" class="category">
            <img src="images/beer.png" alt="">
            <span>beer</span>
        </a>
        <a href="" class="category">
            <img src="images/vodka.png" alt="">
            <span>vodka</span>
        </a>
        <a href="" class="category">
            <img src="images/whiskey.png" alt="">
            <span>whiskey</span>
        </a>
        <a href="" class="category">
            <img src="images/champagne.png" alt="">
            <span>champagne</span>
        </a>
</div>