<div th:fragment="header" xmlns:th="http://www.thymeleaf.org" class="header">
    <a class="brand" href="/">
        <img src="images/free-icon-beer.png" alt="">
        <span class>Hangover</span>
    </a>
    <div class="search">
        <input type="text" placeholder="search">
    </div>
    <div class="loginAndCart">
        <a href="#">
            <img src="images/shopping-cart.png" alt="">
        </a>
        <a href="#">
            <img src="images/free-icon-avatar.png" alt="">
        </a>
    </div> 
</div>